/* css styles */

/* Hide the published date, author, category, and author box on downloads archive page */
.post-type-archive-download .entry-meta {display:none;}
.post-type-archive-download .author-box {display:none;}

/* Hide the published date, author, category, and author box on single download page */
.single-download .entry-meta {display:none;}
.single-download .author-box {display:none;}